# # version: "3.8"

# services:
#   # -----------------------------
#   # ZOOKEEPER
#   # -----------------------------
#   zookeeper:
#     image: bitnami/zookeeper:3.9.1
#     container_name: zookeeper
#     ports:
#       - "2181:2181"
#     environment:
#       ALLOW_ANONYMOUS_LOGIN: yes
#     networks:
#       - distributed_net

#   # -----------------------------
#   # KAFKA
#   # -----------------------------
#   kafka:
#     image: bitnami/kafka:3.6.2
#     container_name: kafka
#     depends_on:
#       - zookeeper
#     ports:
#       - "9092:9092"
#     environment:
#       KAFKA_BROKER_ID: 1
#       ALLOW_PLAINTEXT_LISTENER: "yes"

#       # Interno dentro de Docker
#       KAFKA_CFG_LISTENERS: PLAINTEXT://:9092
#       KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092

#       KAFKA_CFG_ZOOKEEPER_CONNECT: zookeeper:2181

#     command: >
#       sh -c "
#       /opt/bitnami/scripts/kafka/run.sh &
#       sleep 8 &&
#       kafka-topics.sh --create --topic file-chunks --partitions 4 --replication-factor 1 --if-not-exists --bootstrap-server localhost:9092 &&
#       tail -f /dev/null
#       "

#     networks:
#       - distributed_net

#   # -----------------------------
#   # KAFKA UI
#   # -----------------------------
#   kafka-ui:
#     image: provectuslabs/kafka-ui:latest
#     container_name: kafka-ui
#     ports:
#       - "8080:8080"
#     depends_on:
#       - kafka
#     environment:
#       KAFKA_CLUSTERS_0_NAME: local
#       KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
#       KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
#     networks:
#       - distributed_net

#   # -----------------------------
#   # MINIO (8 INSTANCIAS)
#   # -----------------------------

#   minio1:
#     image: minio/minio
#     container_name: minio1
#     command: server /data --console-address ":9001"
#     ports:
#       - "9001:9000"
#       - "9101:9001"
#     environment:
#       MINIO_ROOT_USER: minioadmin
#       MINIO_ROOT_PASSWORD: minioadmin
#     volumes:
#       - minio1-data:/data
#     networks:
#       - distributed_net

#   minio2:
#     image: minio/minio
#     container_name: minio2
#     command: server /data --console-address ":9002"
#     ports:
#       - "9002:9000"
#       - "9102:9001"
#     environment:
#       MINIO_ROOT_USER: minioadmin
#       MINIO_ROOT_PASSWORD: minioadmin
#     volumes:
#       - minio2-data:/data
#     networks:
#       - distributed_net

#   minio3:
#     image: minio/minio
#     container_name: minio3
#     command: server /data --console-address ":9003"
#     ports:
#       - "9003:9000"
#       - "9103:9001"
#     environment:
#       MINIO_ROOT_USER: minioadmin
#       MINIO_ROOT_PASSWORD: minioadmin
#     volumes:
#       - minio3-data:/data
#     networks:
#       - distributed_net

#   minio4:
#     image: minio/minio
#     container_name: minio4
#     command: server /data --console-address ":9004"
#     ports:
#       - "9004:9000"
#       - "9104:9001"
#     environment:
#       MINIO_ROOT_USER: minioadmin
#       MINIO_ROOT_PASSWORD: minioadmin
#     volumes:
#       - minio4-data:/data
#     networks:
#       - distributed_net

#   minio5:
#     image: minio/minio
#     container_name: minio5
#     command: server /data --console-address ":9005"
#     ports:
#       - "9005:9000"
#       - "9105:9001"
#     environment:
#       MINIO_ROOT_USER: minioadmin
#       MINIO_ROOT_PASSWORD: minioadmin
#     volumes:
#       - minio5-data:/data
#     networks:
#       - distributed_net

#   minio6:
#     image: minio/minio
#     container_name: minio6
#     command: server /data --console-address ":9006"
#     ports:
#       - "9006:9000"
#       - "9106:9001"
#     environment:
#       MINIO_ROOT_USER: minioadmin
#       MINIO_ROOT_PASSWORD: minioadmin
#     volumes:
#       - minio6-data:/data
#     networks:
#       - distributed_net

#   minio7:
#     image: minio/minio
#     container_name: minio7
#     command: server /data --console-address ":9007"
#     ports:
#       - "9007:9000"
#       - "9107:9001"
#     environment:
#       MINIO_ROOT_USER: minioadmin
#       MINIO_ROOT_PASSWORD: minioadmin
#     volumes:
#       - minio7-data:/data
#     networks:
#       - distributed_net

#   minio8:
#     image: minio/minio
#     container_name: minio8
#     command: server /data --console-address ":9008"
#     ports:
#       - "9008:9000"
#       - "9108:9001"
#     environment:
#       MINIO_ROOT_USER: minioadmin
#       MINIO_ROOT_PASSWORD: minioadmin
#     volumes:
#       - minio8-data:/data
#     networks:
#       - distributed_net

# volumes:
#   minio1-data:
#   minio2-data:
#   minio3-data:
#   minio4-data:
#   minio5-data:
#   minio6-data:
#   minio7-data:
#   minio8-data:

# networks:
#   distributed_net:
#     driver: bridge

# services:
#   kafka-1:
#     image: apache/kafka:3.7.0
#     container_name: kafka-1
#     ports:
#       - "9092:9092"
#     environment:
#       KAFKA_NODE_ID: 1
#       KAFKA_PROCESS_ROLES: broker,controller
#       KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
#       KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-1:9092
#       KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
#       KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-1:9093,2@kafka-2:9093,3@kafka-3:9093"

#   kafka-2:
#     image: apache/kafka:3.7.0
#     container_name: kafka-2
#     ports:
#       - "9093:9092"
#     environment:
#       KAFKA_NODE_ID: 2
#       KAFKA_PROCESS_ROLES: broker,controller
#       KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
#       KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-2:9092
#       KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
#       KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-1:9093,2@kafka-2:9093,3@kafka-3:9093"

#   kafka-3:
#     image: apache/kafka:3.7.0
#     container_name: kafka-3
#     ports:
#       - "9094:9092"
#     environment:
#       KAFKA_NODE_ID: 3
#       KAFKA_PROCESS_ROLES: broker,controller
#       KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
#       KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-3:9092
#       KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
#       KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-1:9093,2@kafka-2:9093,3@kafka-3:9093"

#   kafka-ui:
#     image: provectuslabs/kafka-ui:latest
#     container_name: kafka-ui
#     ports:
#       - "8080:8080"
#     depends_on:
#       - kafka-1
#       - kafka-2
#       - kafka-3
#     environment:
#       KAFKA_CLUSTERS_0_NAME: kraft-cluster
#       KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka-1:9092,kafka-2:9092,kafka-3:9092


#   # ---------- MINIO INDEPENDIENTE (NO DISTRIBUIDO) ----------
# #   minio1:
# #     image: minio/minio:latest
# #     container_name: minio1
# #     volumes:
# #       - minio1_data:/data
# #     environment:
# #       MINIO_ROOT_USER: minioadmin
# #       MINIO_ROOT_PASSWORD: minioadmin
# #     command: server /data --console-address ":9001"
# #     ports:
# #       - "9000:9001"
# #       - "9001:9000"

# #   minio2:
# #     image: minio/minio:latest
# #     container_name: minio2
# #     volumes:
# #       - minio2_data:/data
# #     environment:
# #       MINIO_ROOT_USER: minioadmin
# #       MINIO_ROOT_PASSWORD: minioadmin
# #     command: server /data --console-address ":9001"
# #     ports:
# #       - "9002:9001"
# #       - "9003:9000"

# #   minio3:
# #     image: minio/minio:latest
# #     container_name: minio3
# #     volumes:
# #       - minio3_data:/data
# #     environment:
# #       MINIO_ROOT_USER: minioadmin
# #       MINIO_ROOT_PASSWORD: minioadmin
# #     command: server /data --console-address ":9001"
# #     ports:
# #       - "9004:9001"
# #       - "9005:9000"

# #   minio4:
# #     image: minio/minio:latest
# #     container_name: minio4
# #     volumes:
# #       - minio4_data:/data
# #     environment:
# #       MINIO_ROOT_USER: minioadmin
# #       MINIO_ROOT_PASSWORD: minioadmin
# #     command: server /data --console-address ":9001"
# #     ports:
# #       - "9006:9001"
# #       - "9007:9000"

# # volumes:
# #   minio1_data:
# #   minio2_data:
# #   minio3_data:
# #   minio4_data:

# networks:
#   distributed_net:
#     driver: bridge

# services:
#   zookeeper:
#     image: confluentinc/cp-zookeeper:6.1.0
#     container_name: zookeeper
#     ports:
#       - "2181:2181"
#     environment:
#       ZOOKEEPER_CLIENT_PORT: 2181
#       ZOOKEEPER_TICK_TIME: 2000
#     volumes:
#       - zookeeper-data:/var/lib/zookeeper/data

#   broker:
#     image: confluentinc/cp-server:6.1.0
#     container_name: broker
#     depends_on:
#       - zookeeper
#     ports:
#       - "9092:9092"        # externo
#       - "29092:29092"      # interno para contenedores
#     environment:
#       KAFKA_BROKER_ID: 1
#       KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
#       KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,PLAINTEXT_HOST://0.0.0.0:9092
#       KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
#       KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
#       KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
#       KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
#       KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
#     volumes:
#       - kafka-data:/var/lib/kafka/data

#   control-center:
#     image: confluentinc/cp-enterprise-control-center:6.1.0
#     container_name: control-center
#     depends_on:
#       - broker
#       - zookeeper
#     ports:
#       - "9021:9021"
#     environment:
#       CONTROL_CENTER_BOOTSTRAP_SERVERS: 'broker:29092'
#       CONTROL_CENTER_REPLICATION_FACTOR: 1
#       CONTROL_CENTER_INTERNAL_TOPICS_PARTITIONS: 1
#       PORT: 9021

# volumes:
#   zookeeper-data:
#   kafka-data:

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:6.1.0
    hostname: zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  broker:
    image: confluentinc/cp-server:6.1.0
    hostname: broker
    container_name: broker
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "9101:9101"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_METRIC_REPORTERS: io.confluent.metrics.reporter.ConfluentMetricsReporter
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_CONFLUENT_LICENSE_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CONFLUENT_BALANCER_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_JMX_PORT: 9101
      KAFKA_JMX_HOSTNAME: localhost
      KAFKA_CONFLUENT_SCHEMA_REGISTRY_URL: http://schema-registry:8081
      CONFLUENT_METRICS_REPORTER_BOOTSTRAP_SERVERS: broker:29092
      CONFLUENT_METRICS_REPORTER_TOPIC_REPLICAS: 1
      CONFLUENT_METRICS_ENABLE: 'true'
      CONFLUENT_SUPPORT_CUSTOMER_ID: 'anonymous'

  schema-registry:
    image: confluentinc/cp-schema-registry:6.1.0
    hostname: schema-registry
    container_name: schema-registry
    depends_on:
      - broker
    ports:
      - "8081:8081"
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'broker:29092'
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081

  connect:
    image: cnfldemos/cp-server-connect-datagen:0.4.0-6.1.0
    hostname: connect
    container_name: connect
    depends_on:
      - broker
      - schema-registry
    ports:
      - "8083:8083"
    environment:
      CONNECT_BOOTSTRAP_SERVERS: 'broker:29092'
      CONNECT_REST_ADVERTISED_HOST_NAME: connect
      CONNECT_REST_PORT: 8083
      CONNECT_GROUP_ID: compose-connect-group
      CONNECT_CONFIG_STORAGE_TOPIC: docker-connect-configs
      CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_OFFSET_FLUSH_INTERVAL_MS: 10000
      CONNECT_OFFSET_STORAGE_TOPIC: docker-connect-offsets
      CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_STATUS_STORAGE_TOPIC: docker-connect-status
      CONNECT_STATUS_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_KEY_CONVERTER: org.apache.kafka.connect.storage.StringConverter
      CONNECT_VALUE_CONVERTER: io.confluent.connect.avro.AvroConverter
      CONNECT_VALUE_CONVERTER_SCHEMA_REGISTRY_URL: http://schema-registry:8081
      # CLASSPATH required due to CC-2422
      CLASSPATH: /usr/share/java/monitoring-interceptors/monitoring-interceptors-6.1.0.jar
      CONNECT_PRODUCER_INTERCEPTOR_CLASSES: "io.confluent.monitoring.clients.interceptor.MonitoringProducerInterceptor"
      CONNECT_CONSUMER_INTERCEPTOR_CLASSES: "io.confluent.monitoring.clients.interceptor.MonitoringConsumerInterceptor"
      CONNECT_PLUGIN_PATH: "/usr/share/java,/usr/share/confluent-hub-components"
      CONNECT_LOG4J_LOGGERS: org.apache.zookeeper=ERROR,org.I0Itec.zkclient=ERROR,org.reflections=ERROR

  control-center:
    image: confluentinc/cp-enterprise-control-center:6.1.0
    hostname: control-center
    container_name: control-center
    depends_on:
      - broker
      - schema-registry
      - connect
      - ksqldb-server
    ports:
      - "9021:9021"
    environment:
      CONTROL_CENTER_BOOTSTRAP_SERVERS: 'broker:29092'
      CONTROL_CENTER_CONNECT_CLUSTER: 'connect:8083'
      CONTROL_CENTER_KSQL_KSQLDB1_URL: "http://ksqldb-server:8088"
      CONTROL_CENTER_KSQL_KSQLDB1_ADVERTISED_URL: "http://localhost:8088"
      CONTROL_CENTER_SCHEMA_REGISTRY_URL: "http://schema-registry:8081"
      CONTROL_CENTER_REPLICATION_FACTOR: 1
      CONTROL_CENTER_INTERNAL_TOPICS_PARTITIONS: 1
      CONTROL_CENTER_MONITORING_INTERCEPTOR_TOPIC_PARTITIONS: 1
      CONFLUENT_METRICS_TOPIC_REPLICATION: 1
      PORT: 9021

  ksqldb-server:
    image: confluentinc/cp-ksqldb-server:6.1.0
    hostname: ksqldb-server
    container_name: ksqldb-server
    depends_on:
      - broker
      - connect
    ports:
      - "8088:8088"
    environment:
      KSQL_CONFIG_DIR: "/etc/ksql"
      KSQL_BOOTSTRAP_SERVERS: "broker:29092"
      KSQL_HOST_NAME: ksqldb-server
      KSQL_LISTENERS: "http://0.0.0.0:8088"
      KSQL_CACHE_MAX_BYTES_BUFFERING: 0
      KSQL_KSQL_SCHEMA_REGISTRY_URL: "http://schema-registry:8081"
      KSQL_PRODUCER_INTERCEPTOR_CLASSES: "io.confluent.monitoring.clients.interceptor.MonitoringProducerInterceptor"
      KSQL_CONSUMER_INTERCEPTOR_CLASSES: "io.confluent.monitoring.clients.interceptor.MonitoringConsumerInterceptor"
      KSQL_KSQL_CONNECT_URL: "http://connect:8083"
      KSQL_KSQL_LOGGING_PROCESSING_TOPIC_REPLICATION_FACTOR: 1
      KSQL_KSQL_LOGGING_PROCESSING_TOPIC_AUTO_CREATE: 'true'
      KSQL_KSQL_LOGGING_PROCESSING_STREAM_AUTO_CREATE: 'true'

  ksqldb-cli:
    image: confluentinc/cp-ksqldb-cli:6.1.0
    container_name: ksqldb-cli
    depends_on:
      - broker
      - connect
      - ksqldb-server
    entrypoint: /bin/sh
    tty: true

  ksql-datagen:
    image: confluentinc/ksqldb-examples:6.1.0
    hostname: ksql-datagen
    container_name: ksql-datagen
    depends_on:
      - ksqldb-server
      - broker
      - schema-registry
      - connect
    command: "bash -c 'echo Waiting for Kafka to be ready... && \
                       cub kafka-ready -b broker:29092 1 40 && \
                       echo Waiting for Confluent Schema Registry to be ready... && \
                       cub sr-ready schema-registry 8081 40 && \
                       echo Waiting a few seconds for topic creation to finish... && \
                       sleep 11 && \
                       tail -f /dev/null'"
    environment:
      KSQL_CONFIG_DIR: "/etc/ksql"
      STREAMS_BOOTSTRAP_SERVERS: broker:29092
      STREAMS_SCHEMA_REGISTRY_HOST: schema-registry
      STREAMS_SCHEMA_REGISTRY_PORT: 8081

  rest-proxy:
    image: confluentinc/cp-kafka-rest:6.1.0
    depends_on:
      - broker
      - schema-registry
    ports:
      - 8082:8082
    hostname: rest-proxy
    container_name: rest-proxy
    environment:
      KAFKA_REST_HOST_NAME: rest-proxy
      KAFKA_REST_BOOTSTRAP_SERVERS: 'broker:29092'
      KAFKA_REST_LISTENERS: "http://0.0.0.0:8082"
      KAFKA_REST_SCHEMA_REGISTRY_URL: 'http://schema-registry:8081'