# # version: "3.8"

# services:
#   # -----------------------------
#   # ZOOKEEPER
#   # -----------------------------
#   zookeeper:
#     image: bitnami/zookeeper:3.9.1
#     container_name: zookeeper
#     ports:
#       - "2181:2181"
#     environment:
#       ALLOW_ANONYMOUS_LOGIN: yes
#     networks:
#       - distributed_net

#   # -----------------------------
#   # KAFKA
#   # -----------------------------
#   kafka:
#     image: bitnami/kafka:3.6.2
#     container_name: kafka
#     depends_on:
#       - zookeeper
#     ports:
#       - "9092:9092"
#     environment:
#       KAFKA_BROKER_ID: 1
#       ALLOW_PLAINTEXT_LISTENER: "yes"

#       # Interno dentro de Docker
#       KAFKA_CFG_LISTENERS: PLAINTEXT://:9092
#       KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092

#       KAFKA_CFG_ZOOKEEPER_CONNECT: zookeeper:2181

#     command: >
#       sh -c "
#       /opt/bitnami/scripts/kafka/run.sh &
#       sleep 8 &&
#       kafka-topics.sh --create --topic file-chunks --partitions 4 --replication-factor 1 --if-not-exists --bootstrap-server localhost:9092 &&
#       tail -f /dev/null
#       "

#     networks:
#       - distributed_net

#   # -----------------------------
#   # KAFKA UI
#   # -----------------------------
#   kafka-ui:
#     image: provectuslabs/kafka-ui:latest
#     container_name: kafka-ui
#     ports:
#       - "8080:8080"
#     depends_on:
#       - kafka
#     environment:
#       KAFKA_CLUSTERS_0_NAME: local
#       KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
#       KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
#     networks:
#       - distributed_net

#   # -----------------------------
#   # MINIO (8 INSTANCIAS)
#   # -----------------------------

#   minio1:
#     image: minio/minio
#     container_name: minio1
#     command: server /data --console-address ":9001"
#     ports:
#       - "9001:9000"
#       - "9101:9001"
#     environment:
#       MINIO_ROOT_USER: minioadmin
#       MINIO_ROOT_PASSWORD: minioadmin
#     volumes:
#       - minio1-data:/data
#     networks:
#       - distributed_net

#   minio2:
#     image: minio/minio
#     container_name: minio2
#     command: server /data --console-address ":9002"
#     ports:
#       - "9002:9000"
#       - "9102:9001"
#     environment:
#       MINIO_ROOT_USER: minioadmin
#       MINIO_ROOT_PASSWORD: minioadmin
#     volumes:
#       - minio2-data:/data
#     networks:
#       - distributed_net

#   minio3:
#     image: minio/minio
#     container_name: minio3
#     command: server /data --console-address ":9003"
#     ports:
#       - "9003:9000"
#       - "9103:9001"
#     environment:
#       MINIO_ROOT_USER: minioadmin
#       MINIO_ROOT_PASSWORD: minioadmin
#     volumes:
#       - minio3-data:/data
#     networks:
#       - distributed_net

#   minio4:
#     image: minio/minio
#     container_name: minio4
#     command: server /data --console-address ":9004"
#     ports:
#       - "9004:9000"
#       - "9104:9001"
#     environment:
#       MINIO_ROOT_USER: minioadmin
#       MINIO_ROOT_PASSWORD: minioadmin
#     volumes:
#       - minio4-data:/data
#     networks:
#       - distributed_net

#   minio5:
#     image: minio/minio
#     container_name: minio5
#     command: server /data --console-address ":9005"
#     ports:
#       - "9005:9000"
#       - "9105:9001"
#     environment:
#       MINIO_ROOT_USER: minioadmin
#       MINIO_ROOT_PASSWORD: minioadmin
#     volumes:
#       - minio5-data:/data
#     networks:
#       - distributed_net

#   minio6:
#     image: minio/minio
#     container_name: minio6
#     command: server /data --console-address ":9006"
#     ports:
#       - "9006:9000"
#       - "9106:9001"
#     environment:
#       MINIO_ROOT_USER: minioadmin
#       MINIO_ROOT_PASSWORD: minioadmin
#     volumes:
#       - minio6-data:/data
#     networks:
#       - distributed_net

#   minio7:
#     image: minio/minio
#     container_name: minio7
#     command: server /data --console-address ":9007"
#     ports:
#       - "9007:9000"
#       - "9107:9001"
#     environment:
#       MINIO_ROOT_USER: minioadmin
#       MINIO_ROOT_PASSWORD: minioadmin
#     volumes:
#       - minio7-data:/data
#     networks:
#       - distributed_net

#   minio8:
#     image: minio/minio
#     container_name: minio8
#     command: server /data --console-address ":9008"
#     ports:
#       - "9008:9000"
#       - "9108:9001"
#     environment:
#       MINIO_ROOT_USER: minioadmin
#       MINIO_ROOT_PASSWORD: minioadmin
#     volumes:
#       - minio8-data:/data
#     networks:
#       - distributed_net

# volumes:
#   minio1-data:
#   minio2-data:
#   minio3-data:
#   minio4-data:
#   minio5-data:
#   minio6-data:
#   minio7-data:
#   minio8-data:

# networks:
#   distributed_net:
#     driver: bridge

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
    command:
      - sh
      - -c
      - |
        /etc/confluent/docker/run &
        sleep 5
        kafka-topics --create --topic file-chunks --bootstrap-server localhost:9092 --partitions 4 --replication-factor 1 || true
        tail -f /dev/null

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    depends_on:
      - kafka
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092

  # ---------- MINIO DISTRIBUIDO 4 NODOS ----------
  minio1:
    image: minio/minio:latest
    container_name: minio1
    volumes:
      - minio1_data:/data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server http://minio{1...4}/data --console-address ":9001"
    ports:
      - "9001:9001"

  minio2:
    image: minio/minio:latest
    container_name: minio2
    volumes:
      - minio2_data:/data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server http://minio{1...4}/data --console-address ":9001"

  minio3:
    image: minio/minio:latest
    container_name: minio3
    volumes:
      - minio3_data:/data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server http://minio{1...4}/data --console-address ":9001"

  minio4:
    image: minio/minio:latest
    container_name: minio4
    volumes:
      - minio4_data:/data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server http://minio{1...4}/data --console-address ":9001"

volumes:
  minio1_data:
  minio2_data:
  minio3_data:
  minio4_data:

networks:
  distributed_net:
    driver: bridge